.metro {
    background: #fff;
    color: #898989;
    cursor: pointer;
    font-weight: 600;
    -moz-user-select: none;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
}
.metro.open {
    z-index: 2;
}
.metro:hover,
.metro.focus {
    color: #666;
}
/* OLD SELECT (HIDDEN) */
.metro .old {
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 0;
}
.metro select {
    left: 0;
    position: absolute;
    top: 0;
}
.metro.touch select {
    height: 100%;
    left: 0;
    opacity: 0;
    top: 0;
    width: 100%;
}
/* SELECTED FEEDBACK ITEM */
.metro .selected {
    color: #96a6a7;
}
.metro .selected:hover {
    color: #e94e38;
}
.metro .selected,
.metro li {
    color: #555555;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 13px;
    overflow: hidden;
    padding: 8px 0 8px 6px;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
}
/* FOCUS CLASS IS ALSO ADDED ON HOVER */
.metro:hover .selected::after, .metro.focus .selected::after {
    background: url(../images/p_minus.png) no-repeat 0 10px;
}
.metro li:hover {
    background-color: #ECEB4D;
}
.metro li:hover {
    background-color: #ECEB4D;
}
.metro li.focus {
    background: #ECEB4D;
    color: #000;
    position: relative;
    z-index: 3;
}
.metro li.active {
    background-color: #ECEB4D;
    color: #000;
}
.metro .selected::after {
    background: url(../images/p_plus.png) no-repeat 0 10px;
    bottom: 0;
    content: '';
    padding: 6px;
    position: absolute;
    right: 0;
    top: 0;
}
.metro:hover .selected::after,
.metro.focus .selected::after {
    background: url(../images/p_minus.png) no-repeat 0 10px;
}
/* DROP DOWN WRAPPER */
.metro div {
    color: #FFF;
    height: 0;
    left: 0;
    margin-top: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 100%;
}
/* HEIGHT IS ADJUSTED BY JS ON OPEN */
.metro.open div {
    opacity: 1;
    z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.metro.scrollable div::after {
    bottom: 0;
    content: '';
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
}
.metro.scrollable.bottom div::after {
    opacity: 0;
}
/* DROP DOWN LIST */
.metro ul {
    background: #000;
    height: 100%;
    left: 0;
    list-style: none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.metro.scrollable.open ul {
    overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.metro li {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    list-style: none;
    padding: 6px 10px;
    text-transform: lowercase;
}
.metro li:last-child {
    border-bottom: 0;
}
.checkbox i {
    border: 2px solid #D2CF99;
    bottom: 255px;
    display: block;
    height: 20px;
    left: 14.9%;
    outline: none;
    position: absolute;
    width: 20px;
}
.checkbox {
    margin-top: 0;
}
.product_right {
    margin-bottom: 2em;
}