a:hover {
    color: #fff;
    text-decoration: none;
}
label.mobile_menu span {
    color: #FFF;
    display: none;
    font-size: 1em;
    margin-left: 10px;
}
.navigation {
    float: left;
    margin-top: -0.8em;
}
/* GENERAL SHAPE */
.nav {
    margin: 0 0 0 0;
    position: relative;
}
ul.nav {
    list-style: none;
    padding: 0;
}
li.dropdown1 {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
li.dropdown1:hover {
    background: #fcff19;
    color: #000;
}
/* MAIN ELEMENT OF THE NAVIGATION */
.nav > li {
    background: none;
    display: inline-block;
    float: left;
}
.nav li.active, .nav li a:hover {
    color: #fff;
}
.nav > li:nth-child(6) {
    background: none;
}
/* LINK STYLE */
.nav > li > a {
    background: none;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
    padding: 0.5em 1em 1em 1em;
    text-transform: uppercase;
}
.nav > li:nth-child(1) > a,.nav > li:nth-child(5) > a,.nav > li:nth-child(6) > a,
.nav > li:nth-child(7) > a {
    background: none;
}
.nav > li:nth-child(1) > a:hover, .nav > li:nth-child(5) > a:hover, .nav > li:nth-child(6) > a:hover {
    background: #fcff19;
    color: #000;
}
.nav > li:hover > a {
    background: url(../images/menu-arrow-hover.png) no-repeat 103% 54%;
    border-color: none;
    color: #000;
}
.nav li > ul li a:hover {
    text-decoration: none;
}
/* SIMPLE MULTILEVEL DROPDOWN */
.nav > li > ul {
    list-style: none;
    margin-top: 30px;
    opacity: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 35px;
    visibility: hidden;
    width: 200px;
    z-index: 99;
}
/* FIRST LEVEL APPEAR */
.nav > li:hover > ul {
    margin-top: 15px;
    opacity: 1;
    visibility: visible;
}
/* STYLE FOR DROPDOWN LINKS */
.nav li > ul li {
    position: relative;
}
.nav li > ul li a {
    background-color: #fcff19;
    color: #000;
    display: block;
    font-size: 1.05em;
    font-weight: 600;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    padding: 4px 10px;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear;
}
.nav li > ul li a span.arrow {
    background: url(../images/arrow-before.png) no-repeat center;
    height: 10px;
    position: absolute;
    right: 5px;
    top: 15px;
    width: 15px;
}
.nav > li > ul li:hover a span.arrow {
    background: url(../images/nav-arrow.png) no-repeat center;
}
.nav > li > ul li:hover {
    color: #000;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
}
.nav ul.dropdown2 {
    background-color: #fcff19;
    color: #FFF;
}
.nav ul li:hover > a {
    background: #fcff19;
    color: #000;
}
/* SECOND AND THIRD DROPDOWN LEVEL */
.nav > li > ul li ul {
    background-color: #fcff19;
    left: 200px;
    list-style: none;
    margin-left: 30px;
    opacity: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 0;
    visibility: hidden;
    width: 200px;
}
.nav > li > ul li ul li:hover {
    background-color: #fcff19;
}
input#mobile_menu {
    display: none;
}
.nav > li > ul li ul li ul {
    background-color: #FFF;
}
.nav > li > ul li ul li ul li:hover {
    color: #0572B8;
}
/* SECOND AND THIRD DROPDOWN LEVEL */
.nav > li ul li:hover > ul {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}
/* FULL WIDTH DROPDOWN */
.nav > li > .fulldrop {
    background-color: #0078b3;
    left: 0;
    list-style: none;
    margin-top: 30px;
    min-height: 100px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 118px;
    visibility: hidden;
    width: 100%;
    z-index: 99;
}
/* FULL DROPDOWN APPEARS */
.nav > li:hover .fulldrop {
    margin-top: 0px;
    opacity: 1;
    visibility: visible;
}
.nav ul li:hover:after {
    color: white;
}
/* COLDROP BASED DROPDOWN */
.nav .coldrop {
    background-color: #0078b3;
    list-style: none;
    margin-top: 30px;
    min-height: 100px;
    opacity: 0;
    /*padding: 0 10px;*/
    padding: 0;
    position: absolute;
    text-align: left;
    top: 118px;
    visibility: hidden;
    z-index: 99;
}
.nav > li:hover .coldrop {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
}
.nav .coldrop .column {
    margin: 0 9px;
    width: 130px;
}
/* COLDROP FOR FULL WIDTH DROPDOWN */
.nav .column {
    color: white;
    float: left;
    margin: 0 0 0 2.2%;
    width: 14.1%;
}
.nav .column ul {
    margin: 0;
    padding: 0;
}
.nav .column ul li {
    font-size: 11px;
    list-style: none;
    padding: 0;
}
.nav .column h3 {
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0 5px 0;
    padding: 14px 0;
}
.nav .column ul li a {
    display: block;
    padding: 0 0 15px 0;
}
.nav > li > ul li ul, .nav li >ul li, .nav > li > .fulldrop, .nav > li > .coldrop, .nav > li > ul, .nav > li {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
@media all and (max-width:1366px) {
    .nav > li > ul {
        top: 20px;
    }
    .nav li > ul li a {
        font-size: 1em;
    }
}
@media (max-width: 1280px) {
    .nav li > ul li a {
        font-size: 0.9em;
    }
    .nav > li > a {
        font-size: 1em;
        letter-spacing: 0;
    }
    .navigation {
        margin-top: -10px;
    }
}
@media (max-width: 1024px) {
    .nav > li {
        margin: 0 2px;
    }
    .nav > li > ul {
        width: 160px;
    }
}
@media only screen and (max-width: 959px) {
    .nav > li > a {
        padding: 10px 12px;
    }
}
@media only screen and (max-width:800px) {
    .nav {
        display: none;
    }
    label.mobile_menu span {
        display: inline;
    }
    label.mobile_menu {
        width: 100%;
    }
    label.mobile_menu {
        background-color: #454B50;
        border-bottom: 1px solid white;
        cursor: pointer;
        display: block;
        margin-bottom: 0;
        margin-top: 10px;
        padding: 10px 0;
        position: relative;
        width: 100%;
    }
    .nav {
        padding: 0;
    }
    .nav > li > a {
        border-width: 0;
    }
    .nav li {
        margin-left: 0;
        text-align: left;
        width: 100%;
    }
    .nav > li {
        border-right: none;
        padding: 5px 0;
        position: relative;
    }
    .nav > li > a {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        display: block;
        font-size: 0.85em;
    }
    li.dropdown1:hover {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .nav li > ul li a span.arrow {
        background: url(../images/nav-arrow2.png) no-repeat center;
        right: 20px;
    }
    .nav li ul, .nav li .fulldrop, .nav li .coldrop {
        top: 33px;
    }
    .nav > li {
        background: none;
        padding: 0;
    }
    .nav li ul {
        padding: 0;
    }
    .nav > li:hover > a {
        background-color: #CACACA;
    }
    .nav > li > a {
        background: url(../images/menu-arrow.png) no-repeat 97% 48% #828282;
        border-bottom: 1px solid #fff;
        color: #fff;
    }
    .nav > li:hover > a {
        background: url(../images/menu-arrow.png) no-repeat 97% 48%;
    }
    .nav .fulldrop, .nav .coldrop {
        padding: 0 2.5%;
        width: 95%;
    }
    .nav li > ul li {
        padding: 18px 0;
    }
    .nav .column, .nav .coldrop .column {
        padding: 0 3%;
        width: 94%;
    }
    .nav > li > ul {
        width: 100%;
    }
    .nav > li > ul li ul {
        left: 0;
        margin-top: 30px;
        top: 36px;
        width: 100%;
        z-index: 2;
    }
    .nav > li > ul > li:hover ul {
        margin-top: 0;
    }
    #mobile_menu:checked+.nav {
        display: block;
    }
    label.mobile_menu:after {
        color: white;
        content: "\2261";
        font-size: 30px;
        position: absolute;
        right: 10px;
        top: -2px;
    }
    .nav > li > ul li ul li ul {
        left: 0;
        margin-left: 0;
        margin-top: 30px;
        top: 43px;
        width: 100%;
    }
    .nav > li > ul > li ul li:hover ul {
        margin-top: 0;
    }
    .nav > li > ul li {
        padding: 0;
        width: 100%;
    }
    .nav > li > ul li ul {
        margin-left: 0;
    }
    .nav > li > ul li ul li {
        padding: 5px 0 5px 0;
        width: 100%;
    }
    .nav > li > ul li ul li ul li {
        padding: 15px 0 15px 0;
        width: 100%;
    }
    .nav ul li.dropdown:after {
        left: 90%;
    }
    /* DISABLE ANIMATION ON MOBILE DEVICE */
    .nav > li > ul li ul, .nav li >ul li, .nav > li > .fulldrop, .nav > li > .coldrop, .nav > li > ul, .nav > li {
        -moz-transition: none;
        -o-transition: none;
        transition: none;
        -webkit-transition: none;
    }
    .navigation {
        margin-top: 0;
    }
}
@media only screen and (max-width:768px) {
    .nav > li:hover > ul {
        margin-top: 0;
    }
    ul.nav {
        float: left;
        list-style: none;
        padding: 0;
        width: 100%;
        z-index: 1;
    }
    label.mobile_menu {
        float: right;
        width: 100%;
    }
    .nav > li:nth-child(1) > a {
        background: url(../images/menu-arrow.png) no-repeat 97% 48% #828282;
        border-bottom: 1px solid #fff;
        color: #fff;
    }
}
@media only screen and (max-width:640px) {
    label.mobile_menu {
        float: right;
        margin-top: 0;
        width: 100%;
    }
    .nav > li:nth-child(1) > a {
        font-size: 0.8em;
    }
    .nav > li > a {
        font-size: 0.8em;
    }
    .nav li > ul li a {
        font-size: 0.8em;
    }
}
@media only screen and (max-width:480px) {
    label.mobile_menu {
        margin-top: 0;
        padding: 7px 0;
    }
    label.mobile_menu:after {
        font-size: 20px;
        top: 3px;
    }
}
label.mobile_menu span {
    font-size: 0.9em;
}
@media only screen and (max-width:320px) {
    label.mobile_menu {
        width: 100%;
    }
}